.designers {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding-block: 80px;
}

.designers h2 {
    color: var(--clr--black--700);
}

.designers__brands {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
}

.designers__brands img {
    padding: 16px 40px;
    background-color: var(--clr--white--blue);
    display: flex;
    border-radius: 24px;
    height: 100%;
}
