.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 0,
    'opsz' 24
}

.features-section {
    display: flex;
    align-items: center;
    padding-block: 88px;
    gap: 76px;
}

.features__share__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.features__share__content__heading a {
    margin-bottom: 16px;
}

.features__share__content__heading h2 {
    text-align: start;
    color: var(--clr--black--700);
    margin-bottom: 24px;
}

.features__share__content__heading p {
    text-align: start;
    font-weight: 400;
    color: var(--clr--pale-blue);
}

.features__share__content__labels {
    display: flex;
    gap: 28px;
}

.label {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.label .material-symbols-outlined {
    background-color: var(--clr--black--100);
    border-radius: 50%;
    padding: 6px;
    font-size: 12px;
}

.features__share__content__footer {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
}

.features__share__content__footer .material-symbols-outlined {
    background-color: var(--clr--orange--500);
    border-radius: 50%;
    color: var(--clr--white);
    padding: 6px;
    font-size: 12px;
}

.features__share img {
    background-color: var(--clr--black--50);
    border-radius: 24px;
}

.features__feedback {
    flex-direction: row-reverse;
}
.features__feedback img {
    background-color: var(--clr--black--50);
    border-radius: 24px;
}

.best-time {
    background-color: var(--clr--orange--500);
    padding-block: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.best-time__heading {
    display: flex;
    gap: 4px;
    flex-direction: column;
    color: var(--clr--white);
}

.best-time__visual {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.best-time__visual img {
    width: 100%;
    max-width: 100%;
}

.best-time__visual__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
}

.card {
    background-color: var(--clr--black--900);
    color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    padding: 24px;
}

.card img {
    width: 32px;
}

.card h4 {
    font-weight: 600;
    color: var(--clr--white);
}

.card p {
    font-weight: 400;
    color: var(--clr--black--300);
    text-align: start;
}
