.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 80px;
    gap: 40px;
}

.footer__content {
    display: flex;
    gap: 140px;
    align-items: start;
    width: 100%;
}

.footer__content__links {
    display: flex;
    gap: 140px;
}
.footer__content__links ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__content__links ul .link-header {
    color: var(--clr--black--700);
    text-align: start;
    margin-bottom: 4px;
}

.footer__content__links ul li a {
    text-align: start;
    font-weight: 400;
    color: var(--clr--pale-blue);
}

.footer p {
    font-weight: 400;
    color: var(--clr--pale-blue);
}
