:root {
    /* Color Variables */
    --clr--black: #000000;
    --clr--black--900: #111111;
    --clr--black--800: #171717;
    --clr--black--700: #282828;
    --clr--black--600: #383838;
    --clr--black--500: #525252;
    --clr--black--400: #5F5F5F;
    --clr--black--300: #737373;
    --clr--black--200: #FCFCFC;
    --clr--black--100: #F6F6F6;
    --clr--black--50: #FAFAFA;
    --clr--border: #F2F2F2;
    --clr--white: #FFFFFF;
    --clr--pale-blue: #5F6980;
    --clr--orange--900: #6B250D;
    --clr--orange--800: #8C3111;
    --clr--orange--700: #B53F15;
    --clr--orange--600: #F5551B;
    --clr--orange--500: #FF591E;
    --clr--orange--400: #FF7A4B;
    --clr--orange--300: #FF9068;
    --clr--orange--200: #FFB398;
    --clr--orange--100: #FFCCB9;
    --clr--orange--50: #FFEEE9;

    font-size: 16px;
}

main {
    position: relative;
}

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    width: 660px;
    height: auto;
}

/* Utility Classes */

.logo {
    fill: var(--clr--black--900);
    transition: 0.3s;
    cursor: pointer;
}

.btn {
    background-color: var(--clr--orange--500);
    border-radius: 2.5rem;
    padding: 10px 20px;
    color: var(--clr--white);
    text-align: center;
    width: fit-content;
}

.btn-white {
    background-color: var(--clr--white);
    color: var(--clr--black--700);
}

.btn-lg {
    padding: 12px 28px;
}

.btn-sm {
    padding: 4px 14px;
}

/* Container Classes */
.container-md {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

/* Font Classes */
.text-h1 {
    text-align: center;
    font-size: 9rem;
    font-weight: 600;
    letter-spacing: -7.5px;
}

.text-h2 {
    text-align: center;
    font-size: 6.875rem;
    font-weight: 600;
    letter-spacing: -5.5px;
}

.text-h3 {
    text-align: center;
    font-size: 6.125rem;
    font-weight: 600;
    letter-spacing: -4.5px;
}

.text-h4 {
    text-align: center;
    font-size: 5.25rem;
    font-weight: 600;
    letter-spacing: -3.5px;
}

.text-h5 {
    text-align: center;
    font-size: 3.93rem;
    font-weight: 600;
    letter-spacing: -2.5px;
}

.text-h6 {
    text-align: center;
    font-size: 3.375rem;
    font-weight: 600;
    letter-spacing: -1.5px;
}

.text-h7 {
    text-align: center;
    font-size: 2.875rem;
    font-weight: 600;
    letter-spacing: -2px;
}

.text-h8 {
    text-align: center;
    font-size: 2.125rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.text-h9 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.text-h10 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.text-2xlg {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

.text-xlg {
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
}

.text-lg {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

.text-md {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
}

.text-sm {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 600;
}