.navbar {
    padding-block: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.navbar a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__links {
    display: flex;
    margin-left: 70px;
    gap: 40px;
    color: var(--clr--black--700);
}

.navbar__buttons {
    color: var(--clr--black--700);
    display: flex;
    margin-left: auto;
    gap: 20px;
}